.checkbox {
  position: relative;
  width: 24px;
  height: 24px;
}

.checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: var(--bg);
  border-radius: 6px;
  box-shadow: inset 3px 3px 6px var(--shadow-dark),
    inset -3px -3px 6px var(--shadow-light);
  transition: all 0.3s ease;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 3px;
  width: 7px;
  height: 14px;
  border: solid var(--checked-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input:checked ~ .checkmark {
  box-shadow: 3px 3px 6px var(--shadow-dark), -3px -3px 6px var(--shadow-light);
}

input:checked ~ .checkmark:after {
  display: block;
}
