* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #333;
  --text-grey: #8390a2;
  --text-white: #fff;
  --shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}