* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  --main-color: #333;
  --text-grey: #8390a2;
  --text-white: #fff;

  --shadow: 10px 10px 22px rgba(0, 0, 0, 0.2),
    -10px -10px 22px rgba(255, 255, 255, 0.75);
  --shadow-inset: inset 5px 5px 11px rgba(0, 0, 0, 0.2),
    inset -5px -5px 11px rgba(255, 255, 255, 0.75);

  --shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  /* Primary Colors */
  --primary-blue: #0d6efd;
  --secondary-gray: #6c757d; /* Bootstrap's Secondary Gray */
  --yellow: #ffc107;
  --red: #dc3545;
  --green: #198754;

  /* Light/Dark Colors */
  --light: #f8f9fa; /* Light color for backgrounds */
  --light-gray: #f8f9fa; /* Light gray */
  --dark: #212529;
  --bg: #e0e0e0;

  /*

  --bg-light: #e6e7ee;



  --shadow-dark: rgba(17, 12, 46, 0.08);
  --shadow-light: rgba(255, 255, 255, 0.9);
  --text-primary: #2d3748;
  --text-secondary: #718096;
  --accent-color: #4a5568;

    --bg-dark: #2a2a2a;


*/
  --btn-text: #4d3252;
  --bg-light: #e6e7ee;

  --shadow-dark: rgba(17, 12, 46, 0.08);
  --shadow-light: rgba(255, 255, 255, 0.9);
}

body {
  background-color: var(--bg);
}

.card {
  background-color: var(--bg);
  width: 400px;
  height: auto;
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
