.sidebar {
  width: 270px;
  position: static;
  height: 100%;
  left: 0;
  top: 0;
 
  background-color: var(--main-color);
  z-index: 100;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow-y: auto;
  color: #fff;
}


.sidebar-menu {
  padding: 5px;
}

/* .nav-section {
 
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  
} */

.nav-link {
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  
}

.nav-link:hover {
  background-color: #151515;
  color: #000;
}

.nav-link.active {
  background-color: #151515;
  /* color: #1976d2; */
  /* font-weight: 500; */
}

.section-header {
  cursor: pointer;
  font-weight: 500;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 20px;
}

.submenu.show {
  max-height: 1000px;
}

.submenu-item {
  padding: 8px 15px 8px 30px;
  font-size: 0.9rem;
}

.sidebar .collapse-icon {
  transition: transform 0.2s ease;
  font-size: 1rem;
  float: right;
}

.bi {
  font-size: 1.1rem;
  width: 20px;
  text-align: center;
}

.toggleMenu {
  width: 0px;
}

.toggleContent {
  margin-left: 0px;
}