.main-content {
  margin-left: 270px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main {
  padding: 30px 20px;
  height: 200vh;
  padding: 10px ;
  box-shadow: inset 4px 4px 8px #c3c9d0, inset -4px -4px 8px #ffffff;
}

.toggleContent {
  margin-left: 0px;
}
